*, body {
    margin: 0;
    padding: 0;
    font-size: 0;
}

#pageBox {
    width: 100%;

    overflow: auto;
}

    #pageBox .page {
        width: 100%;
		height: 988px;

		background-color: #000;
    }

        #pageBox .page .codeBox {
            width: 30%;
            height: 988px;

            display: inline-block;

            background-color: #CCC;
        }

        #pageBox .page .codeBox:nth-child(2n+1) {
            float: left;
        }

        #pageBox .page .codeBox:nth-child(2n) {
            float: right;
        }
        

            #pageBox .page .codeBox .codeIndex {
                width: 33.3333%;
                height: 66px;

                display: inline-block;
                margin-top: 88px;

                text-align: center;
                color: #FFF;
                font: 400 33px/66px Poppins, sans-serif;

                cursor: pointer;
            }

            .html {
                background-color: #FF7473;
            }

            .css {
                background-color: #47B8E0;
            }

            .javascript {
                background-color: #FFC952;
            }

            #pageBox .page .codeBox .code {
                width: auto;
                height: 790px;

                margin: 22px;

                background-color: #FFFFFF;
            }

        #pageBox .page .resultBox {
            box-sizing: border-box;
            width: 70%;
            height: 988px;
            border: 22px solid #FFF;

            display: inline-block;
            
            text-align: center;
        }

            #pageBox .page .resultBox .result {
                margin-top: 176px;

                border-style: none;

                text-align: center;
            }

    #navBox {
        width: 100%;
	    height: 88px;

	    position: fixed;
	    top: 0;

	    background-color: #FFFFFF;
    }

        #navBox #headerBox {
            height: 88px;

			margin: 0 44px;

			display: inline-block;
			background-color: #FFFFFF;
        }

            #navBox #headerBox h1 {
                margin: 11px 0;

                color: #000000;
				font: 700 55px/66px Poppins, sans-serif;
            }

        #navBox #indexBox {
            height: 88px;

            margin: 0 33px;
            float: right;

            display: inline-block;
        }

            #navBox #indexBox ul {
                height: 88px;
            }

                .index {
                    width: 66px;

                    display: inline-block;
                    margin: 11px;

                    text-align: center;
                    font: 400 55px/66px Poppins, sans-serif;
                    color: #666666;

                    cursor: pointer;
                }

                .index:hover {
                    color: #000000;
				    border-bottom: 4px solid #FA3;
                }

                .indexOn {
                    width: 66px;

                    display: inline-block;
                    margin: 11px;

                    text-align: center;
                    font: 400 55px/66px Poppins, sans-serif;
                    color: #000000;
                    border-bottom: 4px solid #FFAA33;

                    cursor: pointer;
                }